$text-1:#FFFFFF;
$text-2:#000000;
$text-3: #907E82;
$focus:#D41443;
$hover-1:#C7133E;
$hover-2:#ECEBEB;
$bg-hero:#FFB8CA;
$bg-mob-menu:#E17992;
$bg-img-hero:#FFA5BA;
$bg-1:#E5E5E5;
$bg-item-1:#FFB8CA;
$bg-item-2:#F0D1A5;
$bg-item-3:#C2E297;
$bg-2:#FFF5F6;
$bg-3:#FAFAFA; 
$bg-icon-1:#FEA5BB;
$icon-1:#D31342;
$icon-2:#D9D9D9;
$border:#E1E1E1;
$box-shadow:rgba(212, 20, 67, 0.1);
$animation-dur: 250ms;
$animation-type: linear;
$font: DM Sans;
$font-h: Titan One;
