<section class="advantages">
    <div class="advantages__container">
        <h2 class="hidden-title">Advantages</h2>
        <ul class="advantages__list">
            <li class="advantages__list-item">
                <span class="advantages__pretext advantages-logo-1">721</span>
                <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantages__list-item">
                <span class="advantages__pretext advantages-logo-2">16kg</span>
                <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantages__list-item">
                <span class="advantages__pretext advantages-logo-3">84</span>
                <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
        </ul>
    </div>
</section>