<section class="cus-rev">
  <div class="cus-rev__container">
    <div class="cus-rev__slider">
      <div class="cus-rev__slider--item">
        <img class="cus-rev__image" src="./images/customer-reviews/client1.png" alt="girl1" />
        <div class="cus-rev__gradient">
          <p class="cus-rev__text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan
            congue. Lorem ipsum primis in nibh vel risus.
          </p>
        </div>
        <p class="cus-rev__name">Emily, Los Angeles</p>
      </div>
      <div class="cus-rev__slider--item">
        <img class="cus-rev__image" src="./images/customer-reviews/client2.png" alt="girl2" />
        <div class="cus-rev__gradient">
          <p class="cus-rev__text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan
            congue. Lorem ipsum primis in nibh vel risus.
          </p>
        </div>
        <p class="cus-rev__name">Rachel, New York</p>
      </div>
      <div class="cus-rev__slider--item">
        <img class="cus-rev__image" src="./images/customer-reviews/client3.png" alt="girl3" />
        <div class="cus-rev__gradient">
          <p class="cus-rev__text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan
            congue. Lorem ipsum primis in nibh vel risus.
          </p>
        </div>
        <p class="cus-rev__name">Phoebe, Chicago</p>
      </div>
    </div>
  </div>
</section>
