<!--FOOTER-->
<footer class="page-footer">
<div class="container">
    <div class="footer-wrapper">
<div class="footer-info">
    <p class="footer-info__text"><b>homemade ice cream made</b></p>
    <p class="footer-info__title"><b>with passion</b></p>
</div>
<div class="social-media">
    <ul class="social-media__list">
        <li class="social-media__item">
            <a class="social-media__link" href="https://www.github.com/"
            target="_blank"
            rel="noreferrer noopener">
            <svg class="social-media__icon" width="32" height="32">
                <use href="./images/symbol-defs.svg#icon-cat"/>
            </svg>
        </a>
        </li>
        <li class="social-media__item">
            <a class="social-media__link" href="https://web.telegram.org/"
            target="_blank"
            rel="noreferrer noopener">
        <svg class="social-media__icon" width="32" height="32">
            <use href="./images/symbol-defs.svg#icon-telegram"/>
        </svg>
    </a>
        </li>
        <li class="social-media__item">
            <a class="social-media__link" href="https://www.facebook.com/"
            target="_blank"
            rel="noreferrer noopener">
        <svg class="social-media__icon" width="32" height="32">
            <use href="./images/symbol-defs.svg#icon-facebook"/>
        </svg>
        </a> 
        </li>
    </ul>

<div class="footer-contact">
    <p class="footer-contact__text">Feel free to contact </p>
    <a class="footer-contact__link" href="tel:+610383766284">+61 (0) 383 766 284</a>

</div>
</div>
</div>
<hr>
<div class="footer-rights">
    <p class="footer-rights__text">© 2019 - IceCream.<br> All Rights Reserved.</p>
</div>
</div>

</footer>