<section class="gallery">
  <div class="container">
    <h2 hidden class="gallery-photo">Фото галереи</h2>
    <picture class="picture">
      <source
        media="(min-width: 1280px)"
        srcset="./images/gallery/gal-1x.png 1x, ./images/gallery/gal-2x.png 2x"
        type="image/png"
      />
      <source
        media="(min-width: 768px)"
        srcset="./images/gallery/gal-tab1x.png 1x, ./images/gallery/gal-tab2x.png 2x"
        type="image/png"
      />
      <source
        media="(min-width: 220px)"
        srcset="./images/gallery/gal-mob1x.png 1x, ./images/gallery/gal-mob2x.png 2x"
        type="image/png"
      />
      <img class="gallery-img" src="#" alt="Фотоколлаж продукта" />
    </picture>
  </div>
</section>
