<div class="menu-container js-menu-container">
    <button class="menu-toggle js-close-menu">
        <svg width="14" height="14">
            <use href="./images/symbol-defs.svg#icon-close"></use>
        </svg>
    </button>
    <button class="mob-menu__button">
        <p class="mob-menu__button--text">Buy now</p>
        <svg class="mob-menu__button--icon" width="10" height="14">
            <use href="./images/symbol-defs.svg#icon-vector-hero"/>
        </svg>
    </button>
    <ul class="mob-menu__list ">
    <li class="mob-menu__list--item">
        <a class="mob-menu__link" href="">Home</a>
    </li>
    <li class="mob-menu__list--item">
        <a class="mob-menu__link" href="">About us</a>
    </li>
    <li class="mob-menu__list--item">
        <a class="mob-menu__link" href="">How it’s made?</a>
    </li>
    <li class="mob-menu__list--item">
        <a class="mob-menu__link" href="">Our products</a>
    </li>
    <li class="mob-menu__list--item">
        <a class="mob-menu__link" href="">Contact</a>
    </li>
    </ul>
</div>
