.cus-rev {
  background-color: $bg-3;
}
.cus-rev__container {
  width: 100%;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 40px;
  padding-bottom: 43px;
  margin-right: auto;
  margin-left: auto;
  @media  (max-width:767px) {
    max-width: 320px;
  }
  @media  (min-width:768px) {
    max-width: 768px;
    padding-left: 74px;
    padding-right: 74px;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  @media  (min-width:1280px) {
    max-width: 1280px;
    padding-left: 178px;
    padding-right: 176px;
    padding-top: 61px;
    padding-bottom: 66px;
  }
}
.cus-rev__image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.cus-rev__gradient {
  text-align: center;
  margin-right: 66px;
  margin-left: 57px;
  margin-top: 72px;
  margin-bottom: 72px;
  @media  (min-width:768px) {
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 66px;
  margin-bottom: 76px;
  }
  @media  (min-width:1280px) {
  margin-left: 87px;
  margin-right: 89px;
  margin-top: 62px;
  margin-bottom: 73px;
  }
}
.cus-rev__gradient p {
  display: inline;
	background-repeat: no-repeat;
	background-position: center bottom 1px;
	background-size: 100% 1px;
	background-image: linear-gradient(to right, $border, $border);
}
.cus-rev__text {
  position: relative;
  z-index: 2;
  box-sizing: border-box;
  font-family: $font;
  font-weight: 500;
  font-size: 12px;
  line-height: 2.55;
  letter-spacing: 0.04em;
  text-decoration: none;
  &::before {
  position: absolute;
  z-index: 1;
  top: -24px;
  left: -32px;
  content: url(../images/customer-reviews/commas.svg);
  @media  (min-width:768px) {
  left: -40px;
  }
  @media  (min-width:1280px) {
  left: -45px;
  }
  }
  @media  (min-width:768px) {
  font-size: 14px;
  line-height: 2.16;
  }
  @media  (min-width:1280px) {
  font-size: 16px;
  line-height: 1.86;
  }
}
.cus-rev__name {
  display: block;
  position: relative;
  text-align: center;
  font-family: $font;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.85;
  text-align: center;
  &::before {
  position: absolute;
  left: 120px;
  top: -30px;
  content: url(../images/customer-reviews/dots.svg);
  @media  (min-width:768px) {
  top: -28px;
  left: 294px;
  }
  @media  (min-width:1280px) {
  top: -33px;
  left: 450px;
  }
  }
  @media  (min-width:768px) {
  font-size: 16px;
  line-height: 1.86;
  }
  @media  (min-width:1280px) {
  font-size: 20px;
  }
}